<!DOCTYPE html>
<html>
<head>
    <title>WebX | {{page}}</title>
    <style>
        *{
            padding : 0px;
            margin : 0px
        }

       
        .navigation ul li a{
            color : white;
            text-decoration : none

        }

        article{
            max-width:100vw;
            height : 95vh;
            background-color: #E7F0DC;
        }


    </style>
</head>
<body>
   <nav style="
   display:flex;
   justify-content:center;
   max-width:100vw;
   background-color:#658147;
   align-items : center;
   height:5vh
   " class="navigation">
    <ul style="
        list-style-type:none;
        display : flex;
        flex-direct:row;
        justify-content:space-around;
        gap:100px"
          >
            <li><a href="/">Home</a></li>
            <li><a href="/analyse">Analyse</a></li>
            <li><a href="/about">About</a></li>
        </ul>
   </nav>
   <article>

   </article>
   
</body>
</html>
